@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Inter&family=Mohave&family=Montserrat:wght@100;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #04d9ff);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #04d9ff);
}

a {
  text-decoration: none;
  color: #fff;
}

.dummy-nav {
  background-color: #000;
  z-index: 1;
  height: 20px;
  width: 100%;
  position: fixed;
}

nav {
  background-color: #000;
  margin: 20px 40px;
  padding: 20px;
  border-radius: 100px;
  border: #04d9ff 1px solid;
  box-shadow: 0 0 60px -15px #04d9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: calc(100% - 120px);
  position: fixed;
  font-size: large;
  z-index: 100;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.22;
}

.logo {
  height: auto;
  width: 100px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.links li {
  list-style: none;
  margin: 0 10px;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenyellow {
  color: #04d9ff;
}

.name {
  font-family: "Mohave", sans-serif;
  font-size: 120px;
}

.date {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
  margin-top: 0.5rem;
  color: rgb(177, 171, 171);
  font-weight: 600;
}

.tagline {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
  margin-top: 0.5rem;
  color: rgb(177, 171, 171);
  font-weight: 400;
}

.hero-btn {
  align-items: center;
  margin-top: 2rem;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: "Mohave", sans-serif;
  background-color: #04d9ff;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  border: none;
  transition: 0.3s ease-in-out;
}

.hero-btn:hover {
  transform: scale(1.07);
}

.hero {
  text-align: center;
  color: white;
  padding-top: 250px;
}

.hero h1 {
  font-size: 85px;
  font-weight: 100;
}

.hero-2 {
  text-align: center;
  color: white;
  padding: 300px 80px;
  font-size: 50px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 200px;
}

.text {
  padding: 2rem;
}

.text h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0 20px;
}

.text p {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: rgb(177, 171, 171);
  font-weight: 400;
  padding: 0 20px;
}

.about-img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img {
  width: 28rem;
}

.about-mob {
  display: none;
}

.strip {
  background: #04d9ff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 2.5rem;
  margin-bottom: 5rem;
  min-width: 100%;
  position: relative;
}

.scrolling-text {
  color: #000;
  top: 0;
  left: 100%;
  z-index: 4;
  animation: scroll 15s linear infinite;
  margin-top: 0.35rem;
  font-weight: 400;
  overflow: hidden;
  font-size: 1.25rem;
  line-height: 1.75rem;
  position: absolute;
}

@keyframes scroll {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* .scrolling-text:hover {
  animation-play-state: paused;
} */

#team {
  padding: 200px 100px;
  text-align: center;
}

#team h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0 20px;
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-card {
  width: 240px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: #04d9ff 0px 0px 6px 1px;
}

#more {
  display: none;
}

#explore {
  text-align: center;
  padding: 150px 100px;
}

.explore-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  margin: 10px 0 30px 0;
}

#explore h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0 20px;
}

.explore-container {
  display: flex;
  justify-content: space-around;
}

.explore-card {
  width: 30%;
  margin: 20px;
  text-align: center;
  transition: 0.3s;
}

.explore-card h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0 20px;
}

.explore-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: rgba(4, 217, 255, 0.2) 2px solid;
  transition: ease-in-out 0.3s;
}

.explore-card img:hover {
  transform: scale(1.05);
}

#footer {
  padding: 2px 70px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 0;
  background-color: #000;
  border-radius: 24px;
  border: rgba(4, 217, 255, 0.2) 2px solid;
}

.footer-col {
  flex-basis: 50%;
  padding: 3rem 2rem;
  flex: 1;
  width: 100%;
}

.icons {
  opacity: 0.8;
  transition: 0.3s;
  margin: 20px 5px;
  width: 42px;
  height: auto;
}

.footer-col a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.text-bottom {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: rgb(177, 171, 171);
  font-weight: 400;
  padding: 10px 20px 0 20px;
}

.footer-logo {
  width: 300px;
  height: auto;
  padding: 20px 0;
}

@media only screen and (max-width: 426px) {
  .dummy-nav {
    background-color: #000;
    z-index: 1;
    height: 70px;
    width: 100%;
    position: fixed;
  }

  .bg {
    width: auto;
    height: 100%;
  }

  nav {
    background-color: #000;
    margin: 20px 20px;
    padding: 20px 5px;
    border-radius: 100px;
    box-shadow: 0 0 60px -15px #04d9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: calc(100% - 50px);
    position: fixed;
    font-size: 18px;
    z-index: 100;
  }

  .logo {
    height: auto;
    width: 100px;
  }

  .links {
    display: none;
  }

  .links li {
    list-style: none;
    margin: 0 10px;
  }

  .hero {
    padding: 150px 15px 10px 15px;
  }

  .name {
    font-size: 80px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero-2 {
    text-align: center;
    color: white;
    padding: 300px 10px;
    font-size: 28px;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 10px;
  }

  .img {
    width: 15rem;
  }

  .about-mob {
    display: block;
  }

  .lg-about {
    display: none;
  }

  #team {
    padding: 100px 10px;
    text-align: center;
  }

  #team h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 0 20px;
  }

  #team h3 {
    font-size: 16px;
    font-weight: 600;
  }

  #team p {
    font-size: 12px;
    margin-bottom: 1rem;
    color: rgb(177, 171, 171);
    font-weight: 400;
  }

  .team-card {
    width: 100%;
    margin: 8px;
    transition: 0.3s;
  }

  #explore {
    text-align: center;
    padding: 80px 10px;
  }

  #explore h1 {
    font-size: 3rem;
  }

  #explore h2 {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    padding: 0 20px;
  }

  .explore-title {
    display: block;
  }

  .explore-card {
    width: calc(50% - 30px);
    margin: 20px 15px;
  }

  .explore-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: rgba(4, 217, 255, 0.2) 2px solid;
    transition: ease-in-out 0.3s;
  }

  #footer {
    padding: 2px 25px;
    text-align: center;
  }

  .footer-col {
    flex-basis: 50%;
    padding: 1rem 2rem;
    flex: 1;
    width: 100%;
  }

  .icons {
    margin: 10px 5px;
    width: 35px;
    height: auto;
  }

  .footer-logo {
    width: 170px;
    height: auto;
    padding: 20px 0;
  }
}